:root {}

/* body:not(.header--menu-open) .header .header-announcement-bar-wrapper [data-header-style="solid"].header-background-solid {
    background-color: var(--solidHeaderBackgroundColor);
    background-color: var(--light-gray);
} */

body {
    background-color: white;
    width: calc(100 - 2rem);
}


* {
    font-family: 'Poppins', Calibri, sans-serif;
    font-style: normal;
    font-weight: 800;
    color: black;
}

main {
    margin-top: 7rem;
    min-height: 90vh;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.baseline {
    align-items: baseline;
}

.red-background {
    background-color: var(--primary-red);
    color: white;
}

h1,
h2,
h3,
h4 {
    font-weight: 800;
    font-style: italic;
    hyphens: auto;
    word-break: normal;
}

h1 {
    margin-bottom: 2rem;
}

h2 {
    font-size: 3.5rem;
    text-align: center;
}

h4 {
    font-size: 2rem;
}

.white {
    color: white;
}

.red {
    color: var(--primary-red);
}

.italic {
    font-style: italic;
}


p {
    font-weight: 600;
    font-size: 1.1rem;
}

li p {
    margin: 0.2rem 0;
}

ul {
    padding-left: 1rem;
}

.image {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

#sections {
    width: 100%;
    overflow-x: hidden;
    background-color: white;
    border-radius: 20px;
}

section {
    width: calc(100% - 20rem);
    padding: 3rem 10rem;
    margin: 2rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-content {
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-divider {
    margin: 3rem 0;
}

.section-divider div {
    background-color: var(--primary-red);
    width: 100%;
    max-width: 1100px;
    height: 3px;
    z-index: 10;
    border-radius: 100%;

}

#accueil {
    background-color: transparent;
    padding: 0;
    width: calc(100% - 2rem);
    max-width: 1100px;
}

#page {
    display: flex;
    flex-direction: column;
}

#insufflez {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#insufflez h4 {
    font-size: 10rem;
}


#insufflez p {
    font-size: 0.95rem;
    margin-bottom: 30px;
    max-width: 600px;
    width: calc(100% - 1rem);
    padding-right: 1rem;
}

.bloc-rouge {
    margin: 14px 0px;
    max-width: 600px;
}

.bloc-rouge-wrapper {
    background-color: var(--primary-red);
    border-radius: 10px;
    padding: 6px 50px;
    width: calc(100% - 100px);
}

.bloc-rouge * {
    color: white;
}

.bloc-rouge h4 {
    font-size: 10rem;
    width: 10rem;
    font-style: italic;
    text-align: center;
    margin: 1rem 0;
    align-self: center;

}

.bloc-rouge h2 {
    font-size: 3rem;
    align-self: left;
    text-align: left;
    margin: 20px 20px 0px 20px;
}

.bloc-rouge p {
    margin: 10px 20px 0px 20px;
}


#equation {
    background-color: var(--primary-red);
    width: 100%;
    padding: 8rem 2rem;
}

#equation em {
    color: white;
    font-size: 2.5rem;
}

#equation em.equation-item {
    background-color: white;
    color: var(--primary-red);
    padding: 6px 20px;
    margin: 24px;
    border-radius: 10px;
    line-height: 80px;
    font-size: 2.5rem;
}

#nosvaleurs * {}

#nosvaleurs h2 {}

#nosvaleurs .sqs-block-button-element {
    color: var(--primary-red);
}

#nosvaleurs img {
    width: 350px;
    border-radius: 5px;
}

.text-block {
    width: 350px;
    margin-right: 30px;
}

#siteWrapper .sqs-block-button-container,
header .sqs-block-button-container {

    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.285);
    border-radius: 10px;
    overflow: visible;
    width: fit-content;
}

#siteWrapper .sqs-button-element--secondary,
header .sqs-button-element--secondary,
.sqs-block-form-lightbox .sqs-button-element--secondary,
#siteWrapper .sqs-button-element--primary,
header .sqs-button-element--primary {
    font-style: italic;
    border-radius: 10px;
    overflow: visible;

}

#siteWrapper .sqs-block-button-container:hover,
header .sqs-block-button-container:hover {
    transform: scale(1.05);
}


.partenaire {
    flex: 1;
    padding: 1rem;
    align-items: center;
    text-align: center;
}

.partenaire img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.partenaire p.partenaire-nom {
    margin: 2rem 0rem 1rem 0rem;
    font-size: 1rem;
    font-weight: 800;
}

.partenaire p {
    margin: 0px;
    font-size: 0.7rem;
}

.title-block {
    background-color: var(--primary-red);
    border-radius: 10px;
    padding: 2rem 4rem;
}

.title-block h4 {
    margin: 0;
}

.title-block * {
    color: white;
}

footer {
    background-color: var(--primary-red);
    background-color: var(--black);
    color: white;
    padding: 5rem 5rem;
    z-index: 20;
}

footer p {
    color: white;
    font-size: 1.1rem;
}

.tabs {}

.w50 {
    width: 50%;
}

.w100 {
    width: 100%;
}

.w80 {
    width: 80%;
}

#contact-main {
    background-image: url(../images/contact.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
}

#contact {
    margin-top: 8rem;
    padding-bottom: 8rem;
}

#contact * {
    color: var(--black);
}

#contact .blur-block {
    background-color: rgba(255, 255, 255, 0.375);
    filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.185));
    backdrop-filter: blur(30px);
    padding: 4rem 8rem;
    border-radius: 10px;
}

.header-nav-item header-nav-item--collection header-nav-item--active {}

.header-nav-item:hover a {
    transform: scale(1.05);
}

.underline-link {
    border-bottom: solid 1px transparent;
}

.underline-link:hover {
    border-bottom: solid 1px black;
}

@media (max-width: 900px) {

    main {
        margin-top: calc(12vw + 60px);
    }

    section {
        width: calc(100% - 2rem) !important;
        padding: 0 1rem !important;
        margin-right: 0 !important;
        margin-left: 0 !important;
        margin-bottom: 5rem;
    }

    h1 {
        font-size: 4rem;
    }


    h2 {
        font-size: 3rem;
        text-align: left;
        width: 100%;
    }

    p {
        font-size: 1.2rem;
        text-align: left;
        width: 100%;
    }

    .bloc-rouge {
        margin: 6px 0px;
    }

    .bloc-rouge-wrapper {
        padding: 6px 20px;
        width: calc(100% - 40px);
    }

    #insufflez h4 {
        font-size: 7rem;
    }

    .bloc-rouge h4 {
        font-size: 7rem;
    }

    .bloc-rouge h2 {
        font-size: 2rem;
    }

    .bloc-rouge p {
        margin-bottom: 20px;
    }

    #equation {
        padding: 6rem 0 !important;
        width: 100% !important;
    }

    #equation-row {
        width: auto;
    }

    #equation h2 {
        display: flex;
        flex-direction: column;
    }

    #equation em.equation-item {
        margin: 2px;
    }

    #nosvaleurs {}

    #nosvaleurs .row {
        flex-direction: column;
    }

    #nosvaleurs img {
        margin-top: 20px;
        width: 100%;
        height: auto;
        max-height: 60vh;
        object-fit: cover;
    }

    .text-block {
        width: 100%;
        margin-right: 6px;
    }

    a.sqs-button-element--secondary {
        font-size: 2rem;
    }

    .mobile-col {
        flex-direction: column;
        gap: 1rem;
    }

    .mobile-col-reverse {
        flex-direction: column-reverse;
        gap: 1rem;
    }

    .mobile-row {
        flex-direction: row;
        gap: 1rem;
    }

    .mobile-center {
        align-items: center;
    }

    #footer-row {
        flex-direction: column;
    }

    #footer-methodes {
        flex-direction: column;
        align-items: center;
    }

    .mobile-w100 {
        width: 100%;
    }

    .mobile-hide {
        display: none;
    }


    .partenaire p.partenaire-nom {
        margin: 1rem 0rem 0.5rem 0rem;
        font-size: 1.2rem;
        font-weight: 800;
    }

    .partenaire p {
        margin: 0px;
        font-size: 0.8rem;
        text-align: center;
    }



    .title-block {
        padding: 2rem;
    }

    #contact {
        margin-top: calc(12vw + 60px);
    }

    #contact .blur-block {
        padding: 2rem 1.5rem;
        width: calc(100% - 3rem);
    }

    #contact h4 {
        font-size: 1.8rem;
    }

    #contact-mail h4 {
        font-size: 1.3rem;
    }


    .mobile-w100 {
        width: 100%;
    }
}

@media screen and (max-width: 767px) and (orientation: portrait) {

    #siteWrapper .sqs-button-element--secondary,
    .sqs-block-form-lightbox .sqs-button-element--secondary,
    #siteWrapper .sqs-button-element--primary {
        font-size: 1.3rem;
        align-self: center;
    }

    .sqs-block-content .sqs-block-button {
        align-items: center;
        display: flex;
        justify-content: center;
    }
}

:root {
    --formations-primary-color: #e60023;
    --formations-light-gray: #f5f5f5;
    --formations-dark-gray: #333;
    --formations-accent: #ffcc00;
}

.formations-wrapper {
    font-family: 'Poppins', sans-serif;
    color: var(--formations-dark-gray);
    background-color: white;
    line-height: 1.6;
    font-size: 16px;
}

.formations-wrapper h1,
.formations-wrapper h2,
.formations-wrapper h3,
.formations-wrapper p,
.formations-wrapper ul,
.formations-wrapper li {
    font-size: inherit;
}

.formations-header {
    /* background-color: var(--formations-primary-color); */
    color: white;
    text-align: center;
}

.formations-header h1 {
    font-size: 2.5rem;
    color: var(--primary-red);
}

.formations-header h4 {
    font-size: 1.5rem;
}

.formations-section {
    padding: 3rem 1rem;
    max-width: 1000px;
    margin: auto;
}

.formations-section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--formations-primary-color);
    font-style: italic;
}

h4.tab-title {
    font-size: 1rem;
}

.formations-section h2 .no-italic {
    font-style: normal;
}

.formations-highlight {
    font-weight: bold;
    color: var(--formations-primary-color);
}

.formations-ul {
    padding-left: 1.5rem;
}

.formations-wrapper li {
    list-style: none;
    font-weight: normal;
}


.formations-program-step {
    margin-bottom: 1.5rem;
}

.formations-cta {
    display: inline-block;
    background-color: var(--formations-primary-color);
    color: white;
    padding: 1rem 2rem;
    text-decoration: none;
    font-weight: bold;
    margin-top: 2rem;
}

.formations-info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}



.tab-bar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.tab-bar-tabs {
    display: grid;
    grid-template-rows: repeat(2, 200px);
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    gap: 1rem;
}

.tab-bar-tab {
    cursor: pointer;
}

.tab-bar-tab.active {}

.tab-image {}

.tab-bar-content {
    grid-column: span 2;
}

.tab-bar-content-section {
    display: none;
}

.tab-bar-content-section.active {
    display: block;
}

.tab-bar-tab.bento-item-title {
    background-color: rgb(139, 139, 139);

}

.tab-bar-tab.bento-item-title img {
    filter: contrast(1.2) blur(0.5px);
}

.tab-bar-tab.bento-item-title.active {
    background-color: rgba(158, 0, 0, 0.57);

}

h3.tab-title {
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

@media (max-width: 900px) {
    .tab-bar-tabs {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, 100px);
    }

    .tab-bar-tab.bento-item-title {
        grid-row: span 1 !important;
    }
}

@media (max-width: 768px) {
    .formations-info-grid {
        grid-template-columns: 1fr;
    }
}